#projectName, #team{
    text-align: center;
}
h2,h3{
    text-align: center;
}
#slides div,#report iframe,#diagram img{
    display: inline-block;
}
#slides,#report,#diagram,#sources,#sketch{
    text-align: center;
}
#sketch img{
    height: 300px;
}