#projectName, #team{
    text-align: center;
}
h2,h3{
    text-align: center;
}
#slides div,#report iframe,#diagram img,#poster iframe{
    display: inline-block;
}
#slides,#report,#diagram,#sources,#sketch,#poster{
    text-align: center;
}
#sketch img{
    height: 300px;
}